In [1]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [2]:
import pandas as pd
import numpy as np

In [3]:
df  = pd.read_csv("/content/drive/My Drive/DataAnalysisWithPython/Libraries/DataCleaningProcess/DataCleaningProcess01/BL-Flickr-Images-Book.csv")

In [4]:
df.head()

,Identifier,Edition Statement,Place of Publication,Date of Publication,Publisher,Title,Author,Contributors,Corporate Author,Corporate Contributors,Former owner,Engraver,Issuance type,Flickr URL,Shelfmarks
0,206,NaN,London,1879 [1878],S. Tinsley & Co.,Walter Forbes. [A novel.] By A. A,A. A.,"FORBES, Walter.",NaN,NaN,NaN,NaN,monographic,http://www.flickr.com/photos/britishlibrary/ta...,British Library HMNTS 12641.b.30.
1,216,NaN,London; Virtue & Yorston,1868,Virtue & Co.,All for Greed. [A novel. The dedication signed...,"A., A. A.","BLAZE DE BURY, Marie Pauline Rose - Baroness",NaN,NaN,NaN,NaN,monographic,http://www.flickr.com/photos/britishlibrary/ta...,British Library HMNTS 12626.cc.2.
2,218,NaN,London,1869,"Bradbury, Evans & Co.",Love the Avenger. By the author of “All for Gr...,"A., A. A.","BLAZE DE BURY, Marie Pauline Rose - Baroness",NaN,NaN,NaN,NaN,monographic,http://www.flickr.com/photos/britishlibrary/ta...,British Library HMNTS 12625.dd.1.
3,472,NaN,London,1851,James Darling,"Welsh Sketches, chiefly ecclesiastical, to the...","A., E. S.","Appleyard, Ernest Silvanus.",NaN,NaN,NaN,NaN,monographic,http://www.flickr.com/photos/britishlibrary/ta...,British Library HMNTS 10369.bbb.15.
4,480,"A new edition, revised, etc.",London,1857,Wertheim & Macintosh,"[The World in which I live, and my place in it...","A., E. S.","BROOME, John Henry.",NaN,NaN,NaN,NaN,monographic,http://www.flickr.com/photos/britishlibrary/ta...,British Library HMNTS 9007.d.28.

In [5]:
df.tail()

,Identifier,Edition Statement,Place of Publication,Date of Publication,Publisher,Title,Author,Contributors,Corporate Author,Corporate Contributors,Former owner,Engraver,Issuance type,Flickr URL,Shelfmarks
8282,4158088,NaN,London,1838,NaN,"The Parochial History of Cornwall, founded on,...","GIDDY, afterwards GILBERT, Davies.","BOASE, Henry Samuel.|HALS, William.|LYSONS, Da...",NaN,NaN,NaN,NaN,monographic,http://www.flickr.com/photos/britishlibrary/ta...,British Library HMNTS|British Library HMNTS 10...
8283,4158128,NaN,Derby,"1831, 32",M. Mozley & Son,The History and Gazetteer of the County of Der...,"GLOVER, Stephen - of Derby","NOBLE, Thomas.",NaN,NaN,NaN,NaN,monographic,http://www.flickr.com/photos/britishlibrary/ta...,British Library HMNTS|British Library HMNTS 10...
8284,4159563,NaN,London,[1806]-22,T. Cadell and W. Davies,Magna Britannia; being a concise topographical...,"LYSONS, Daniel - M.A., F.R.S., and LYSONS (Sam...","GREGSON, Matthew.|LYSONS, Samuel - F.R.S",NaN,NaN,NaN,NaN,monographic,http://www.flickr.com/photos/britishlibrary/ta...,British Library HMNTS|British Library HMNTS 19...
8285,4159587,NaN,Newcastle upon Tyne,1834,Mackenzie & Dent,"An historical, topographical and descriptive v...","Mackenzie, E. (Eneas)","ROSS, M. - of Durham",NaN,NaN,NaN,NaN,monographic,http://www.flickr.com/photos/britishlibrary/ta...,British Library HMNTS|British Library HMNTS 10...
8286,4160339,NaN,London,1834-43,NaN,Collectanea Topographica et Genealogica. [Firs...,NaN,"BANDINEL, Bulkeley.|Nichols, John Gough",NaN,NaN,NaN,NaN,continuing,http://www.flickr.com/photos/britishlibrary/ta...,British Library HMNTS|British Library HMNTS 79...

In [6]:
df.columns

Index(['Identifier', 'Edition Statement', 'Place of Publication',
       'Date of Publication', 'Publisher', 'Title', 'Author', 'Contributors',
       'Corporate Author', 'Corporate Contributors', 'Former owner',
       'Engraver', 'Issuance type', 'Flickr URL', 'Shelfmarks'],
      dtype='object')

**Drop the unnecessary columns:**

In [7]:
to_drop = ['Edition Statement',
           'Corporate Author',
           'Corporate Contributors',
           'Former owner',
           'Engraver',
           'Contributors',
           'Issuance type',
           'Shelfmarks']

df.drop(to_drop, inplace = True, axis = 1)
df.head()

,Identifier,Place of Publication,Date of Publication,Publisher,Title,Author,Flickr URL
0,206,London,1879 [1878],S. Tinsley & Co.,Walter Forbes. [A novel.] By A. A,A. A.,http://www.flickr.com/photos/britishlibrary/ta...
1,216,London; Virtue & Yorston,1868,Virtue & Co.,All for Greed. [A novel. The dedication signed...,"A., A. A.",http://www.flickr.com/photos/britishlibrary/ta...
2,218,London,1869,"Bradbury, Evans & Co.",Love the Avenger. By the author of “All for Gr...,"A., A. A.",http://www.flickr.com/photos/britishlibrary/ta...
3,472,London,1851,James Darling,"Welsh Sketches, chiefly ecclesiastical, to the...","A., E. S.",http://www.flickr.com/photos/britishlibrary/ta...
4,480,London,1857,Wertheim & Macintosh,"[The World in which I live, and my place in it...","A., E. S.",http://www.flickr.com/photos/britishlibrary/ta...

In [8]:
df.columns

Index(['Identifier', 'Place of Publication', 'Date of Publication',
       'Publisher', 'Title', 'Author', 'Flickr URL'],
      dtype='object')

**Setting the index:**

In [9]:
#set_index() set the index of a DataFrame to a column named "Identifier"
df.set_index('Identifier', inplace = True)
df.head()

,Place of Publication,Date of Publication,Publisher,Title,Author,Flickr URL
Identifier,,,,,,
206,London,1879 [1878],S. Tinsley & Co.,Walter Forbes. [A novel.] By A. A,A. A.,http://www.flickr.com/photos/britishlibrary/ta...
216,London; Virtue & Yorston,1868,Virtue & Co.,All for Greed. [A novel. The dedication signed...,"A., A. A.",http://www.flickr.com/photos/britishlibrary/ta...
218,London,1869,"Bradbury, Evans & Co.",Love the Avenger. By the author of “All for Gr...,"A., A. A.",http://www.flickr.com/photos/britishlibrary/ta...
472,London,1851,James Darling,"Welsh Sketches, chiefly ecclesiastical, to the...","A., E. S.",http://www.flickr.com/photos/britishlibrary/ta...
480,London,1857,Wertheim & Macintosh,"[The World in which I live, and my place in it...","A., E. S.",http://www.flickr.com/photos/britishlibrary/ta...

In [10]:
df['Date of Publication'].head(50)

Identifier
206             1879 [1878]
216                    1868
218                    1869
472                    1851
480                    1857
481                    1875
519                    1872
667                     NaN
874                    1676
1143                   1679
1280                   1802
1808                   1859
1905                   1888
1929            1839, 38-54
2836                   1897
2854                   1865
2956                1860-63
2957                   1873
3017                   1866
3131                   1899
4598                   1814
4884                   1820
4976                   1800
5382     1847, 48 [1846-48]
5385                [1897?]
5389                [1897?]
5432                   1893
6036                   1805
6821                   1837
7521                   1896
7630                   1898
8239                   1899
8435                   1892
8440                   1894
11361              [1894-96
11852                   NaN
13074                  1899
13364                [1885]
14466               [1860?]
14703                  1846
15141                  1893
15146                  1894
16173                  1817
16543                  1816
16544                  1817
17602                  1897
17752                [1833]
18173                  1804
18218                  1859
18347                  1777
Name: Date of Publication, dtype: object

**Cleaning columns Date of Publication using the .apply function**:

In [11]:
unwanted_characters = ['[', ',', '-','?',']']

def date_cleaning(item):   #item represent the row from the dataframe
    drop= str(item.loc['Date of Publication'])  #access the value and convert it in to string

    if drop == 'nan' or drop[0] == '[':      #drop == 'nan' data is missing or not available drop == '[' check formatting issue
        return np.NaN

    for character in unwanted_characters:
        if character in drop:
            character_index = drop.find(character) #index of the character
            drop = drop[:character_index]    # removes the unwanted characters from the date.

    return drop

df['Date of Publication'] = df.apply(date_cleaning, axis = 1) #axis=1 (rows)

In [12]:
df.head()

,Place of Publication,Date of Publication,Publisher,Title,Author,Flickr URL
Identifier,,,,,,
206,London,1879,S. Tinsley & Co.,Walter Forbes. [A novel.] By A. A,A. A.,http://www.flickr.com/photos/britishlibrary/ta...
216,London; Virtue & Yorston,1868,Virtue & Co.,All for Greed. [A novel. The dedication signed...,"A., A. A.",http://www.flickr.com/photos/britishlibrary/ta...
218,London,1869,"Bradbury, Evans & Co.",Love the Avenger. By the author of “All for Gr...,"A., A. A.",http://www.flickr.com/photos/britishlibrary/ta...
472,London,1851,James Darling,"Welsh Sketches, chiefly ecclesiastical, to the...","A., E. S.",http://www.flickr.com/photos/britishlibrary/ta...
480,London,1857,Wertheim & Macintosh,"[The World in which I live, and my place in it...","A., E. S.",http://www.flickr.com/photos/britishlibrary/ta...

In [13]:
#alternate way of cleaning Date of Publication
#run cell to see output
unwanted_characters = ['[', ',', '-','?',']']

def data_cleaning(drop):
    drop = str(drop)
    if drop.startswith('[') or drop == 'nan':
        return 'NaN'
    for character in unwanted_characters:
        if character in drop:
            character_index = drop.find(character)
            drop = drop[:character_index]
    return drop

df['Date of Publication'] = df['Date of Publication'].apply(data_cleaning)
df.head()

,Place of Publication,Date of Publication,Publisher,Title,Author,Flickr URL
Identifier,,,,,,
206,London,1879,S. Tinsley & Co.,Walter Forbes. [A novel.] By A. A,A. A.,http://www.flickr.com/photos/britishlibrary/ta...
216,London; Virtue & Yorston,1868,Virtue & Co.,All for Greed. [A novel. The dedication signed...,"A., A. A.",http://www.flickr.com/photos/britishlibrary/ta...
218,London,1869,"Bradbury, Evans & Co.",Love the Avenger. By the author of “All for Gr...,"A., A. A.",http://www.flickr.com/photos/britishlibrary/ta...
472,London,1851,James Darling,"Welsh Sketches, chiefly ecclesiastical, to the...","A., E. S.",http://www.flickr.com/photos/britishlibrary/ta...
480,London,1857,Wertheim & Macintosh,"[The World in which I live, and my place in it...","A., E. S.",http://www.flickr.com/photos/britishlibrary/ta...

In [14]:
from functools import reduce

**Cleaning and formatting author names.**

In [15]:
def cleaning_author_names(author):
    author = str(author)
    if author == 'nan':
        return 'NaN'
    author = author.split(',')
    if len(author) == 1:
        name = filter(lambda x: x.isalpha(), author[0])     #to filter out alphabetic characters from the name checks if x is an alphabetic character
        return reduce(lambda x, y: x + y, name)             #concatenate

    last_name, first_name = author[0], author[1]

    first_name = first_name[:first_name.find('-')] if '-' in first_name else first_name
    #It's extracting the part of the first name before the hyphen, if a hyphen is present

    if first_name.endswith(('.', '.|')):
        parts = first_name.split('.')

        if len(parts) > 1:    #it extracts the portion of the first_name before the last dot.
            first_occurence = first_name.find('.')
            final_occurence = first_name.find('.', first_occurence + 1)
            first_name = first_name[:final_occurence]
        else:
            first_name = first_name[:first_name.find('.')]

    last_name = last_name.capitalize()

    return f'{first_name} {last_name}'


df['Author'] = df['Author'].apply(cleaning_author_names)

In [ ]:

df.head()

,Place of Publication,Date of Publication,Publisher,Title,Author,Flickr URL
Identifier,,,,,,
206,London,1879,S. Tinsley & Co.,Walter Forbes. [A novel.] By A. A,AA,http://www.flickr.com/photos/britishlibrary/ta...
216,London; Virtue & Yorston,1868,Virtue & Co.,All for Greed. [A novel. The dedication signed...,A. A A.,http://www.flickr.com/photos/britishlibrary/ta...
218,London,1869,"Bradbury, Evans & Co.",Love the Avenger. By the author of “All for Gr...,A. A A.,http://www.flickr.com/photos/britishlibrary/ta...
472,London,1851,James Darling,"Welsh Sketches, chiefly ecclesiastical, to the...",E. S A.,http://www.flickr.com/photos/britishlibrary/ta...
480,London,1857,Wertheim & Macintosh,"[The World in which I live, and my place in it...",E. S A.,http://www.flickr.com/photos/britishlibrary/ta...

In [ ]:
df['Author'].head(50)

Identifier
206                                       AA
216                                  A. A A.
218                                  A. A A.
472                                  E. S A.
480                                  E. S A.
481                                  E. S A.
519                                  F. E A.
667                                  J.|A A.
874                                    Remaʿ
1143                                    T A.
1280                                     NaN
1808                              Jacob Aall
1905                            Ermanno  Aar
1929                                     NaN
2836                 Giovanni Agostino Abate
2854                         Francesco Abati
2956             Antoine Thompson d' Abbadie
2957             Antoine Thompson d' Abbadie
3017      Agustín Íñigo  Abbad y lasierra
3131                          William Abbatt
4598                    Thomas Eastoe Abbott
4884                                     NaN
4976                                     NaN
5382                Gilbert Abbott A'beckett
5385                Gilbert Abbott A'beckett
5389                Gilbert Abbott A'beckett
5432               Gilbert Arthur  A'beckett
6036                                     NaN
6821                                     NaN
7521                   Wilhelm Hermann Abich
7630                                     NaN
8239                                     NaN
8435                         Félix  Abraham
8440                         Félix  Abraham
11361                     Arthur  Achleitner
11852                   R.N Ackland - lieut.
13074          Frederick Edward Shafto Adair
13364                                    NaN
14466                                    NaN
14703                                    NaN
15141       Francis William Lauderdale Adams
15146       Francis William Lauderdale Adams
16173                          Joseph  Adams
16543                          Robert  Adams
16544                          Robert  Adams
17602                 Arthur St. John Adcock
17752                   Petrus Adolphus Adde
18173                        Joseph  Addison
18218                         Joseph Addison
18347                        Joseph  Addison
Name: Author, dtype: object

In [ ]:
def cleaning_title(title):

    if title is None or title == 'nan':
        return 'NaN'

    if title[0] == '[':
        title = title[1: title.find(']')]   # it removes the first character and all characters up to the first occurrence of ']'

    if 'by' in title:
        title = title[:title.find('by')]  # it removes everything from the occurrence of 'by' onward
    elif 'By' in title:
        title = title[:title.find('By')] #it removes everything from the occurrence of 'By' onward

    if '[' in title:
        title = title[:title.find('[')]  #it removes everything from the occurrence of [ onward. This might be used to remove any remaining bracketed content.



    title = title[:-2]   #removes the last two characters from the title

    title = list(map(str.capitalize, title.split())) #This line splits the title into words using spaces as delimiters and then capitalizes the first letter of each word
    return ' '.join(title)

df['Title'] = df['Title'].apply(cleaning_title)
df.head()

,Place of Publication,Date of Publication,Publisher,Title,Author,Flickr URL
Identifier,,,,,,
206,London,1879,S. Tinsley & Co.,Walter Forbes,AA,http://www.flickr.com/photos/britishlibrary/ta...
216,London; Virtue & Yorston,1868,Virtue & Co.,All For Greed,A. A A.,http://www.flickr.com/photos/britishlibrary/ta...
218,London,1869,"Bradbury, Evans & Co.",Love The Avenger,A. A A.,http://www.flickr.com/photos/britishlibrary/ta...
472,London,1851,James Darling,"Welsh Sketches, Chiefly Ecclesiastical, To The...",E. S A.,http://www.flickr.com/photos/britishlibrary/ta...
480,London,1857,Wertheim & Macintosh,"The World In Which I Live, And My Place In It",E. S A.,http://www.flickr.com/photos/britishlibrary/ta...

**Using .str methods to clean column:**

In [ ]:
#4157862 and 4159587
df.loc[4159587]

Place of Publication                                  Newcastle upon Tyne
Date of Publication                                                  1834
Publisher                                                Mackenzie & Dent
Title                   An Historical, Topographical And Descriptive V...
Author                                               E. (Eneas) Mackenzie
Flickr URL              http://www.flickr.com/photos/britishlibrary/ta...
Name: 4159587, dtype: object

In [ ]:
pub = df['Place of Publication']
df['Place of Publication'] = np.where(pub.str.contains('London'), 'London',
    np.where(pub.str.contains('Oxford'), 'Oxford',
        np.where(pub.eq('Newcastle upon Tyne'),
            'Newcastle-upon-Tyne', df['Place of Publication'])))

In [ ]:
df.head()

,Place of Publication,Date of Publication,Publisher,Title,Author,Flickr URL
Identifier,,,,,,
206,London,1879,S. Tinsley & Co.,Walter Forbes,AA,http://www.flickr.com/photos/britishlibrary/ta...
216,London,1868,Virtue & Co.,All For Greed,A. A A.,http://www.flickr.com/photos/britishlibrary/ta...
218,London,1869,"Bradbury, Evans & Co.",Love The Avenger,A. A A.,http://www.flickr.com/photos/britishlibrary/ta...
472,London,1851,James Darling,"Welsh Sketches, Chiefly Ecclesiastical, To The...",E. S A.,http://www.flickr.com/photos/britishlibrary/ta...
480,London,1857,Wertheim & Macintosh,"The World In Which I Live, And My Place In It",E. S A.,http://www.flickr.com/photos/britishlibrary/ta...

In [ ]:
df.shape

(8287, 6)

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 8287 entries, 206 to 4160339
Data columns (total 6 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Place of Publication  8287 non-null   object
 1   Date of Publication   8287 non-null   object
 2   Publisher             4092 non-null   object
 3   Title                 8287 non-null   object
 4   Author                8287 non-null   object
 5   Flickr URL            8287 non-null   object
dtypes: object(6)
memory usage: 711.2+ KB

In [ ]:
df.describe()

,Place of Publication,Date of Publication,Publisher,Title,Author,Flickr URL
count,8287,8287,4092,8287,8287,8287
unique,1192,334,1989,8032,4950,8287
top,London,NaN,Macmillan & Co.,,NaN,http://www.flickr.com/photos/britishlibrary/ta...
freq,4219,967,85,13,1778,1

In [ ]:
df.duplicated().sum()

0

In [ ]:
df.isnull().sum()

Place of Publication       0
Date of Publication        0
Publisher               4195
Title                      0
Author                     0
Flickr URL                 0
dtype: int64

In [ ]:
df.dropna(inplace = True)

In [ ]:
df.isnull().sum()

Place of Publication    0
Date of Publication     0
Publisher               0
Title                   0
Author                  0
Flickr URL              0
dtype: int64

In [ ]:
df.shape

(4092, 6)