In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [ ]:
import numpy as np
import pandas as pd

In [ ]:
df  = pd.read_csv("/content/drive/My Drive/DataAnalysisWithPython/Libraries/DataCleaningProcess/DataCleaningProcess01/olympicss.csv")

In [ ]:
df.head()

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15
0,NaN,? Summer,01 !,02 !,03 !,Total,? Winter,01 !,02 !,03 !,Total,? Games,01 !,02 !,03 !,Combined total
1,Afghanistan (AFG),13,0,0,2,2,0,0,0,0,0,13,0,0,2,2
2,Algeria (ALG),12,5,2,8,15,3,0,0,0,0,15,5,2,8,15
3,Argentina (ARG),23,18,24,28,70,18,0,0,0,0,41,18,24,28,70
4,Armenia (ARM),5,1,2,9,12,6,0,0,0,0,11,1,2,9,12

In [ ]:
#skiprows=1, the first row of the CSV file will be skipped
#header=0 the first row of the CSV file will be treated as the header.
df  = pd.read_csv("/content/drive/My Drive/DataAnalysisWithPython/Libraries/DataCleaningProcess/DataCleaningProcess01/olympicss.csv",skiprows = 1, header = 0)

In [ ]:
df.head()

,Unnamed: 0,? Summer,01 !,02 !,03 !,Total,? Winter,01 !.1,02 !.1,03 !.1,Total.1,? Games,01 !.2,02 !.2,03 !.2,Combined total
0,Afghanistan (AFG),13,0,0,2,2,0,0,0,0,0,13,0,0,2,2
1,Algeria (ALG),12,5,2,8,15,3,0,0,0,0,15,5,2,8,15
2,Argentina (ARG),23,18,24,28,70,18,0,0,0,0,41,18,24,28,70
3,Armenia (ARM),5,1,2,9,12,6,0,0,0,0,11,1,2,9,12
4,Australasia (ANZ) [ANZ],2,3,4,5,12,0,0,0,0,0,2,3,4,5,12

**Rename the columns:**

In [ ]:
new_names =  {'Unnamed: 0': 'Country',
              '? Summer': 'Summer Olympics',
              '01 !': 'Gold',
              '02 !': 'Silver',
              '03 !': 'Bronze',
              '? Winter': 'Winter Olympics',
              '01 !.1': 'Gold.1',
              '02 !.1': 'Silver.1',
              '03 !.1': 'Bronze.1',
              '? Games': '# Games',
              '01 !.2': 'Gold.2',
              '02 !.2': 'Silver.2',
              '03 !.2': 'Bronze.2'}
df.rename(columns = new_names, inplace = True)

In [ ]:
df.head()

,Country,Summer Olympics,Gold,Silver,Bronze,Total,Winter Olympics,Gold.1,Silver.1,Bronze.1,Total.1,# Games,Gold.2,Silver.2,Bronze.2,Combined total
0,Afghanistan (AFG),13,0,0,2,2,0,0,0,0,0,13,0,0,2,2
1,Algeria (ALG),12,5,2,8,15,3,0,0,0,0,15,5,2,8,15
2,Argentina (ARG),23,18,24,28,70,18,0,0,0,0,41,18,24,28,70
3,Armenia (ARM),5,1,2,9,12,6,0,0,0,0,11,1,2,9,12
4,Australasia (ANZ) [ANZ],2,3,4,5,12,0,0,0,0,0,2,3,4,5,12

In [ ]:
#set_index() set the index of a DataFrame to a column named "Identifier"
df.set_index('Country', inplace = True)
df.head()

,Summer Olympics,Gold,Silver,Bronze,Total,Winter Olympics,Gold.1,Silver.1,Bronze.1,Total.1,# Games,Gold.2,Silver.2,Bronze.2,Combined total
Country,,,,,,,,,,,,,,,
Afghanistan (AFG),13,0,0,2,2,0,0,0,0,0,13,0,0,2,2
Algeria (ALG),12,5,2,8,15,3,0,0,0,0,15,5,2,8,15
Argentina (ARG),23,18,24,28,70,18,0,0,0,0,41,18,24,28,70
Armenia (ARM),5,1,2,9,12,6,0,0,0,0,11,1,2,9,12
Australasia (ANZ) [ANZ],2,3,4,5,12,0,0,0,0,0,2,3,4,5,12

In [ ]:
df.tail()

,Country,Summer Olympics,Gold,Silver,Bronze,Total,Winter Olympics,Gold.1,Silver.1,Bronze.1,Total.1,# Games,Gold.2,Silver.2,Bronze.2,Combined total
142,Independent Olympic Participants (IOP) [IOP],1,0,1,2,3,0,0,0,0,0,1,0,1,2,3
143,Zambia (ZAM) [ZAM],12,0,1,1,2,0,0,0,0,0,12,0,1,1,2
144,Zimbabwe (ZIM) [ZIM],12,3,4,1,8,1,0,0,0,0,13,3,4,1,8
145,Mixed team (ZZX) [ZZX],3,8,5,4,17,0,0,0,0,0,3,8,5,4,17
146,Totals,27,4809,4775,5130,14714,22,959,958,948,2865,49,5768,5733,6078,17579

In [ ]:
df.isnull().sum()

Country            0
Summer Olympics    0
Gold               0
Silver             0
Bronze             0
Total              0
Winter Olympics    0
Gold.1             0
Silver.1           0
Bronze.1           0
Total.1            0
# Games            0
Gold.2             0
Silver.2           0
Bronze.2           0
Combined total     0
dtype: int64

In [ ]:
df.duplicated().sum()

0

In [ ]:
df.shape

(147, 16)

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 147 entries, 0 to 146
Data columns (total 16 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Country          147 non-null    object
 1   Summer Olympics  147 non-null    int64
 2   Gold             147 non-null    int64
 3   Silver           147 non-null    int64
 4   Bronze           147 non-null    int64
 5   Total            147 non-null    int64
 6   Winter Olympics  147 non-null    int64
 7   Gold.1           147 non-null    int64
 8   Silver.1         147 non-null    int64
 9   Bronze.1         147 non-null    int64
 10  Total.1          147 non-null    int64
 11  # Games          147 non-null    int64
 12  Gold.2           147 non-null    int64
 13  Silver.2         147 non-null    int64
 14  Bronze.2         147 non-null    int64
 15  Combined total   147 non-null    int64
dtypes: int64(15), object(1)
memory usage: 18.5+ KB

In [ ]:
df.describe()

,Summer Olympics,Gold,Silver,Bronze,Total,Winter Olympics,Gold.1,Silver.1,Bronze.1,Total.1,# Games,Gold.2,Silver.2,Bronze.2,Combined total
count,147.000000,147.000000,147.000000,147.000000,147.000000,147.000000,147.000000,147.000000,147.000000,147.000000,147.000000,147.000000,147.000000,147.000000,147.000000
mean,13.476190,65.428571,64.965986,69.795918,200.190476,6.700680,13.047619,13.034014,12.897959,38.979592,20.176871,78.476190,78.000000,82.693878,239.170068
std,7.072359,405.549990,399.309960,427.187344,1231.306297,7.433186,80.799204,80.634421,79.588388,240.917324,13.257048,485.013378,478.860334,505.855110,1469.067883
min,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,1.000000
25%,8.000000,0.000000,1.000000,1.000000,2.000000,0.000000,0.000000,0.000000,0.000000,0.000000,11.000000,0.000000,1.000000,1.000000,2.500000
50%,13.000000,3.000000,4.000000,6.000000,12.000000,5.000000,0.000000,0.000000,0.000000,0.000000,15.000000,3.000000,4.000000,7.000000,12.000000
75%,18.500000,24.000000,28.000000,29.000000,86.000000,10.000000,1.000000,2.000000,1.000000,5.000000,27.000000,25.500000,29.000000,32.500000,89.000000
max,27.000000,4809.000000,4775.000000,5130.000000,14714.000000,22.000000,959.000000,958.000000,948.000000,2865.000000,49.000000,5768.000000,5733.000000,6078.000000,17579.000000

In [ ]:
df.corr()

<ipython-input-28-2f6f6606aa2c>:1: FutureWarning: The default value of numeric_only in DataFrame.corr is deprecated. In a future version, it will default to False. Select only valid columns or specify the value of numeric_only to silence this warning.
  df.corr()

,Summer Olympics,Gold,Silver,Bronze,Total,Winter Olympics,Gold.1,Silver.1,Bronze.1,Total.1,# Games,Gold.2,Silver.2,Bronze.2,Combined total
Summer Olympics,1.000000,0.224360,0.227158,0.225742,0.225882,0.670331,0.225262,0.228436,0.233963,0.229297,0.909332,0.225128,0.227888,0.227446,0.226927
Gold,0.224360,1.000000,0.998612,0.996652,0.998990,0.270391,0.980201,0.980499,0.980427,0.980801,0.271299,0.999456,0.997823,0.995913,0.998153
Silver,0.227158,0.998612,1.000000,0.999367,0.999925,0.271184,0.983777,0.983859,0.984704,0.984538,0.273236,0.998891,0.999546,0.998879,0.999550
Bronze,0.225742,0.996652,0.999367,1.000000,0.999294,0.268913,0.984893,0.985094,0.986290,0.985850,0.271207,0.997438,0.999226,0.999663,0.999236
Total,0.225882,0.998990,0.999925,0.999294,1.000000,0.270298,0.983578,0.983773,0.984438,0.984355,0.272059,0.999174,0.999469,0.998775,0.999582
Winter Olympics,0.670331,0.270391,0.271184,0.268913,0.270298,1.000000,0.281514,0.284242,0.289205,0.285090,0.918304,0.272989,0.273997,0.272595,0.273305
Gold.1,0.225262,0.980201,0.983777,0.984893,0.983578,0.281514,1.000000,0.998938,0.998202,0.999485,0.278016,0.986199,0.988557,0.988779,0.988300
Silver.1,0.228436,0.980499,0.983859,0.985094,0.983773,0.284242,0.998938,1.000000,0.998949,0.999731,0.281239,0.986272,0.988805,0.989067,0.988504
Bronze.1,0.233963,0.980427,0.984704,0.986290,0.984438,0.289205,0.998202,0.998949,1.000000,0.999480,0.286971,0.986088,0.989332,0.990242,0.989020
Total.1,0.229297,0.980801,0.984538,0.985850,0.984355,0.285090,0.999485,0.999731,0.999480,1.000000,0.282174,0.986615,0.989326,0.989788,0.989035
# Games,0.909332,0.271299,0.273236,0.271207,0.272059,0.918304,0.278016,0.281239,0.286971,0.282174,1.000000,0.273165,0.275203,0.274181,0.274302
Gold.2,0.225128,0.999456,0.998891,0.997438,0.999174,0.272989,0.986199,0.986272,0.986088,0.986615,0.273165,1.000000,0.999027,0.997468,0.999261
Silver.2,0.227888,0.997823,0.999546,0.999226,0.999469,0.273997,0.988557,0.988805,0.989332,0.989326,0.275203,0.999027,1.000000,0.999488,0.999953
Bronze.2,0.227446,0.995913,0.998879,0.999663,0.998775,0.272595,0.988779,0.989067,0.990242,0.989788,0.274181,0.997468,0.999488,1.000000,0.999447
Combined total,0.226927,0.998153,0.999550,0.999236,0.999582,0.273305,0.988300,0.988504,0.989020,0.989035,0.274302,0.999261,0.999953,0.999447,1.000000